@font-face {
  font-family: 'Kondolar Thai';
  src: url(Anakotmai-Medium.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Kondolar Thai';
  font-weight: 900;
  src: url(Anakotmai-Bold.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Anuphan';
  src: url(Anakotmai-Light.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Anuphan';
  font-weight: 600;
  src: url(Anakotmai-Medium.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Bai Jamjuri';
  src: url(Pracharath-Reg.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Bai Jamjuri';
  font-weight: 700;
  src: url(Pracharath-Bld.otf) format('opentype');
  font-display: swap;
}
